/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin-bottom: 80px;
    background: #F5C556;
  }
  .normal, #normal {
    background-color: #bfb16e;
  }
  
  .fighting, #fighting {
    background-color: #cf5c35;
  }
  
  .flying, #flying {
    background-color: #bea0c2;
  }
  
  .poison, #poison {
    background-color: #b96889;
  }
  
  .ground, #ground {
    background-color: #e6c163;
  }
  
  .rock, #rock {
    background-color: #c9ab40;
  }
  
  .bug, #bug {
    background-color: #bebb30;
  }
  
  .ghost, #ghost {
    background-color: #987984;
  }
  
  .steel, #steel {
    background-color: #cabbac;
  }
  
  .fire, #fire {
    background-color: #f2953b;
  }
  
  .water, #water {
    background-color: #92a0c2;
  }
  
  .grass, #grass {
    background-color: #9dc652;
  }
  
  .electric, #electric {
    background-color: #f7cd3b;
  }
  
  .psychic, #psychic {
    background-color: #f77979;
  }
  
  .ice, #ice {
    background-color: #b4d2b1;
  }
  
  .dragon, #dragon {
    background-color: #a172bf;
  }
  
  .dark, #dark {
    background-color: #98794c;
  }
  
  .fairy, #fairy {
    background-color: #f0a692;
  }
  
  .unknown, #unknown {
    background-color: rgba(255, 202, 142, 0.7);
  }
  
  .shadow, #shadow {
    background-color: rgba(42, 78, 141, 0.7);
  }

